/* HTML element selectors -------------------------------------------------- */
body {
    margin: 0;
    background-color: #1f1f1f;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: #eef6e5;
    background-color: #00acaa;
    margin: -6px -6px 4px -6px;
    padding: 6px;
}

/* canvas related selectors ------------------------------------------------ */
#avsort-canvas {
    position: fixed;
    transition: opacity 0.4s ease;
    opacity: 0.6;
}

/* CodeMirror style -------------------------------------------------------- */
.CodeMirror {
    position: absolute;
    height: auto;
    width: 100%;
    top: 35px;
    bottom: 0;
    background-color: #eef6e5;
}


/* control related selectors ----------------------------------------------- */
#controls {
    margin: auto;
    position: fixed;
    right: 0;
    bottom: -32px;
    left: 0;
    width: 95%;
    height: 34px;
    background: #00acaa;
    color: #1f1f1f;
    transition: bottom 0.4s ease;
    transition-delay: 1s;
}

#controls:hover{
    bottom: 0;
    transition-delay: 0s;
}

#control-hover-area {
    position: fixed;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 28px;
    opacity: 0;
}

#control-hover-area:hover ~ #controls {
    bottom: 0;
    transition-delay: 0s;
}

#control-hover-area:focus ~ #controls {
    bottom: 0;
    transition-delay: 0s;
}

#toggle-window {
    margin-right: 2px;
    float: right;
    height: 22px;
    line-height: 22px;
}

#toggle-window::before {
    content: attr(data-shown);
}

#window-state:checked ~ #controls > #toggle-window::before {
    content: attr(data-hidden);
}


/* window related selectors ------------------------------------------------ */
#window {
    background-color: #eef6e5;
    color: #1f1f1f;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

#window-state {
    display: none;
}

#window-state:checked ~ #window {
    opacity: 0;
    top: 80%!important;
    visibility: hidden;
}

#window-state:checked ~ #avsort-canvas {
    opacity: 1
}


/* tab related selectors --------------------------------------------------- */
#tab-bg {
    position: absolute;
    background: #00acaa;
    width: 100%;
    height: 43px;
    z-index: -1;
}

.tab input[type=radio]{
    display: none;
}

.tab-label {
    height: 31px;
    line-height: 31px;
    padding: 6px;
    cursor: pointer;
    color: #eef6e5;
    min-width: 60px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tab-lbl-left {
    float: left;
}

.tab-lbl-right {
    float: right;
}

.tab-content {
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

input[type=radio]:checked ~ .tab-content {
    display: block;
    position: absolute;
    top: 42px;
}

input[type=radio]:checked ~ label {
    background-color: #eef6e5;
    color: #1f1f1f;
}

.content-box {
    padding: 6px;
}


/* selectors related to editor tab ----------------------------------------- */
#editor-controls {
    background: #00acaa;
    height: 36px;
    line-height: 36px;
    padding-left: 2px;
}

.statusbar {
    color: #eef6e5;
    height: 30px!important;
    line-height: 30px!important;
    font-size: 12px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

#btn-enable-edit {
    margin-top: 3px;
    margin-right: 2px;
    float: right;
    height: 22px;
    line-height: 22px;
}

#save-controls {
    display: none;
}


/* general selectors ------------------------------------------------------- */
.ctrl-btn {
    cursor: pointer;
    color: #00acaa;
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    padding: 2px;
    margin-right: -2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    height: 30px;
    line-height: 30px;
}

.ctrl-btn:active {
    color: #1f1f1f;
    background-color: #00acaa;
}

.ctrl-row {
    margin-top: 2px;
    margin-left: 2px;
}

.spacer {
    padding-right: 2px;
    margin-left: 1px;
}

.svline {
    border-left: 1px solid #1f1f1f;;
}

.dropdown {
    color: #00acaa;
    background: #1f1f1f url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" style="fill: #00acaa"><polygon points="0,0 8,0 4,8"/></svg>') no-repeat right;
    border: 2px solid #1f1f1f;
    margin-right: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    outline: none;
    padding: 2px 14px 2px 2px;
}

.eval-error {
    overflow: hidden;
    font-weight: bold;
    color: #d3423d;
    cursor: default;
    border: 1px solid #d3423d;
}

button {
    color: #00acaa;
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    padding: 2px;
    margin-right: -2px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

button:active {
    color: #1f1f1f;
    background-color: #00acaa;
}

input[type=range]{
    -webkit-appearance: none;
    vertical-align: middle;
    height: 4px;
    background: #1f1f1f;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #1f1f1f;
    border: 1px solid #00acaa;
}

input[type=range]:focus{
    outline: none;
}